
body {
    main {
        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 95%;
            justify-content: space-evenly;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .sideNav {
                width: 30%;
            }
            .mainContent {
                width: 60%;
            }
        }
    }
}